<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.aalto.ekman_lehtomaki.aaltocoursesync"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider
            android:name="fi.aalto.ekman_lehtomaki.aaltocoursesync.AaltoContentProvider"
            android:authorities="fi.aalto.ekman_lehtomaki.aaltocoursesync.provider"
            android:exported="true"
            android:syncable="true" />

        <service
            android:name="fi.aalto.ekman_lehtomaki.aaltocoursesync.AaltoSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter"/>
        </service>

        <service
            android:name="fi.aalto.ekman_lehtomaki.aaltocoursesync.StubAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name="fi.aalto.ekman_lehtomaki.aaltocoursesync.PreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
